@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.home {
    @include centered-column;

    &>h2 {
        color: $gamboge;
    }

    &>ul {
        padding: 8px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 16px;
    }
}